
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmbnZnZmh6YmZxbmh6ZGtnZXlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk4MDMxMTcsImV4cCI6MjA1NTM3OTExN30.QnWm1J7-7poiPK2ye3vQW0qCQmxQAaG_I_mOQAr_9YY
VITE_SUPABASE_URL=https://rfnvgfhzbfqnhzdkgeyo.supabase.co